

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}





/*------------------------------------------------------*/



.navbar{ 
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:#ffd900;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ffd900;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffd900;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn,.passer{
    width: auto;
    height: 40px;
    background: #ffd900;
    border: 2px solid #ffd900;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;

}
.btn:hover,.passer:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}





/*------------------------------------------------------*/





section{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}


.cont{
    display:flex;
    justify-content: center;
}

.card{
    background-color: orange;
    width: 220px;
    height: 400px;
    margin: 10px;
    border: solid grey;
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
}


.card-image{
   background-color: white;
    height: 320px;
    margin-bottom: 15px;
    background-size: cover;

}

.prod-1{
    background-image: url('cafe.PNG');  
}

.prod-2{
    background-image:url('cafe1.PNG')
}

.prod-3{
    background-image: url('nescafe.PNG');
}

.prod-4{
    background-image: url('cafeglace.PNG');
}

.prod-5{
    background-image: url('coca.jpg');
}

.prod-6{
    background-image: url('fanta.PNG');
}

.prod-7{
    background-image: url('ice\ tea.PNG');
}

.prod-8{
    background-image: url('lait3.PNG');
}

.prod-9{
    background-image: url('lait1.PNG');
}

.prod-10{
    background-image: url('lait2.PNG');
}

.prod-11{
    background-image: url('lben.PNG');
}

.prod-12{
    background-image: url('jus.PNG');
}

.prod-13{
    background-image: url('jus1.PNG');
}

.prod-14{
    background-image: url('tropico.PNG');
}

.prod-15{
    background-image: url('eau.png');
}

.prod-16{
    background-image: url('eau1.png');
}

.prod-17{
    background-image: url('nutella.png');
}

.prod-18{
    background-image: url('slice.jpg');
}

.prod-19{
    background-image: url('chips.PNG');
}

.prod-20{
    background-image: url('kaki.PNG');
}

.prod-21{
    background-image: url('hrisa.PNG');
}

.prod-22{
    background-image: url('hrisa1.PNG');
}

.prod-23{
    background-image: url('frommage.PNG');
}

.prod-24{
    background-image: url('tomate.PNG');
}

.prod-25{
    background-image:url('indomi.jpg');
}

.prod-26{
    background-image: url('chariot.png');
}



input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background:linear-gradient(45deg,rgb(26, 31, 56),grey);
    text-align: center;
    padding: 50px;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
}
.Fin{
    color: rgb(41, 41, 41);
}
footer a {
    color: #fff;
    transition: 0.3s ease;
    font-size: 30px;
    margin: 8px;

}
footer a:hover{
    color: #ffd900;
}
.num{
  color:grey;
}