body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.bg 
{
    text-transform: capitalize;
    width: 35%;
    height: 30%;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    background-position: center;
    top: 50px; ;
    
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 100px;
    font-weight: bold;
}